.infoProduct{
    .barnav{
        .container{
            .infoPenawar{
                display: flex;
            }
            .collapse{
                .collapse1{
                    .collapse2{
                        display: none;
                    }
                }
            }
            .grupform{
                .search{
                    display: none;
                }
            }
            
        }
    }
}
